[Unit]
Description=The Ghost Blogging Platform
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=ghost

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ghost
SyslogFacility=local0

WorkingDirectory=/opt/ghost
ExecStart=/usr/bin/npm start --production

Restart=always

NoNewPrivileges=true
PrivateNetworks=true

[Install]
WantedBy=multi-user.target
